@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap');
@import "reset.css";




    
body {
   background-color: mintcream;
   font-family: 'Raleway', sans-serif;
     
}

nav {
    margin:2rem;
    display: flex;
    justify-content:space-between;
}


.navbar {
    height: 150px;
}

.container-fluid {
    margin-top: 0%;
}

.navbar-nav ml-auto{
    margin-right: 10rem;
}


.avatar {
    width: 20%;
    border-radius: 10%;
    display: inline-block; /* Utilisez display: inline-block au lieu de display: block */
    vertical-align: middle; /* Alignez l'avatar verticalement au milieu */
    margin: 0 10px; /* Ajoutez une marge à gauche et à droite pour l'espace */
    line-height: 20px; /* Ajustez la ligne de hauteur pour aligner l'avatar avec les autres éléments */
    padding-top: 5px;
    padding-bottom: 5px;
    
}

.comment-avatar {
    width: 10%;

}


#blog {
    display:flex;
    flex-direction: column;
    align-items: center;
    margin-top: 5rem;
}

#blog article {
    width:50%;
    margin: top 2rem;
}

@media (max-width:1024px){
    #blog article {
        width:85%;
        
    }

}

.container {
    display:flex;
    flex-direction: column;
    align-items: center;
    margin-top: 5rem;
}
.main-title {
    margin-bottom: 2rem;
    font-weight:bolder;
}

.post-title {
    display: flex;
    align-items: center;

}

.post-title a {
    color:steelblue;
    text-decoration: none;
    margin-left: .5em;

}


.post-title > div {
    margin-left: 0;
}

.list-title a{
    text-decoration: none;
    color:black;
    margin-bottom: 1rem;
}

.post-author {
    margin: .5em 0;
}

.post-excerpt {
    margin-bottom: 1rem;
}

.post-detail {
    display: flex;
    flex-direction: column;
    align-items: center;

}

.post-detail > h1 {
    text-transform: uppercase;
    margin-bottom: 1rem;

}
.post-cat{
    margin-left: 0;
}

input, textarea {
    display: block;
    padding: .75rem;
    line-height: 1.5em;
    font-size: 1rem;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    min-width: 600px;
}

label {
    display: inline-block;
    box-sizing: border-box;
    margin:1rem 0;
}

.btn {
    padding: 1rem;
    border:none;
    font-weight:600;
    font: size 1.25em;
    border-radius: .3rem;
    color : white;
    width: 40%;
    cursor: pointer;
}

.btn-submit {
background-color: steelblue;
}

.btn-delete {
    background-color:indianred;
}



.badge {
    margin-right: 1rem;

}



#tags-container {
    margin-right: 10rem;
    float: left;
     
  }
.card {
    margin-bottom: 1.5rem;
 }
 
.post-content{
    margin-bottom: 4rem;
}


